/* 出品画像に関するレイアウト */
.img_contents{
    display: flex;
    justify-content: space-around;
}
/* h2のデザイン */
h2{
    font-weight: normal;
    color: #888888;
}

.title_area{
    width: 345px;
    display: flex;
    justify-content: space-around; 
}
.help_guide{
    width: 345px;
    font-size: xx-small;
    text-align: end;
}

/* 販売手数料・利益が自動で表示されるコンテンツのデザイン */
.price_contents{
    margin-right: 15px;
    width: 155px;
    text-align: end;
    font-size: xx-small;
    color: #cccccc;
}