@charset "UTF-8";
@import url("./destyle.css");
@import url("./style.css");
header {
  height: 60px;
  text-align: center;
  line-height: 60px;
}

main .evaluate {
  text-align: center;
  background-color: #fff;
}

main .information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

main .information text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

main .information img {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #00000080;
}

main .alert {
  border: solid 3px #00000080;
}

main .alert .message {
  padding-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

main .alert .mes_text {
  padding-left: 10px;
}

main .orange {
  color: #fe9900;
  font-size: large;
}

main .url {
  text-align: right;
  padding-top: 20px;
}

main .url a:link,
main a:visited,
main a:hover,
main a:active {
  color: #f00;
  font-weight: bold;
  text-decoration: underline;
}

main .user a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}

main .user img {
  width: 70px;
  height: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #00000080;
  border-radius: 500px;
}

main .user_info button {
  border-radius: 5px;
  background: #ffffff;
  border: solid 1px #00000080;
  color: #00000080;
  padding: 8px 70px;
  font-size: 16px;
}

main .value_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .mes_foryou input[type="text"] {
  width: 50%;
  padding: 2em;
  border: 2px solid #1b2538;
  border-radius: 4px;
}

main .value .comment button {
  border-radius: 5px;
  background: #fd819d;
  color: #fff;
  padding: 15px 16px;
  font-size: 16px;
}

main .value .stars span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* 要素をフレックスボックスにする */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  /* 星を逆順に並べる */
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* 逆順なので、左寄せにする */
}

main .value .stars input[type="radio"] {
  display: none;
  /* デフォルトのラジオボタンを非表示にする */
}

main .value .stars label {
  color: #d2d2d2;
  /* 未選択の星をグレー色に指定 */
  font-size: 30px;
  /* 星の大きさを30pxに指定 */
  padding: 0 5px;
  /* 左右の余白を5pxに指定 */
  cursor: pointer;
  /* カーソルが上に乗ったときに指の形にする */
}

main .value .stars label:hover,
main .value .stars label:hover ~ label,
main .value .stars input[type="radio"]:checked ~ label {
  color: #f8c601;
  /* 選択された星以降をすべて黄色にする */
}
/*# sourceMappingURL=evaluate.css.map */