@import url("./destyle.css");
@import url("./style.css");
header {
  position: relative;
  padding-top: 0.7rem;
}

header button {
  border: solid 1px #ccc;
}

header form {
  margin: 0 auto;
  border: solid 1px #111;
  width: 80%;
  border-radius: 50px;
}

header input[type="text"] {
  padding: 0.5rem 1rem;
  width: 85%;
}

header .back-icon {
  position: absolute;
  top: 18px;
  left: 0.5rem;
}

header .search_text :active {
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

header .grass {
  color: gray;
  border: 0;
}

header .grass :active {
  color: #fd819d;
}

.modal-header-bg {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 98px;
  z-index: 10;
  position: absolute;
  top: 0;
}

.modal-bg {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 98px;
}

.display-nav {
  font-size: 14px;
  height: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: #fe8900;
}

.display-nav .parent-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: right;
  -webkit-justify-content: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.display-nav .parent-tabs .tab1,
.display-nav .parent-tabs .tab2 {
  width: 25%;
  text-align: center;
}

.display-nav .parent-tabs .tab1 + .tab2 {
  border-left: solid 1px #ccc;
}

.display-nav .parent-tabs .sort-tabs {
  display: none;
  text-align: left;
  padding-top: 0.6rem;
  position: absolute;
  z-index: 20;
  width: 100%;
}

.display-nav .parent-tabs .sort-tabs li {
  color: #707070;
  line-height: 30px;
  padding-left: 1rem;
  background-color: #fff;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

.display-nav .parent-tabs .filter-tabs {
  left: 50%;
}

main {
  background-color: #ccc;
  font-size: 12px;
  color: #707070;
  border: solid 1px #ccc;
  margin-bottom: 60px;
}

h2,
h3,
h4 {
  display: none;
}

#trend {
  background-color: #fff;
}

#trend ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#trend ul .trend-tag {
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 18px;
  padding: 3px 8px;
  margin: 3px;
  white-space: nowrap;
}

#product {
  background-color: #ccc;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#product .product-area {
  border-radius: 5px;
  margin: 2px;
}

#product .product-area .product-item {
  border-radius: 5px 5px 0 0;
  position: relative;
  border-bottom: solid 1px #ccc;
  width: 180px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
}

#product .product-area .product-item .sold-icon {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#product .product-area .product-item .favorite-btn {
  width: 24px;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

#product .product-area .product-explain {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  height: 32px;
  padding: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#product .product-area .product-explain .price,
#product .product-area .product-explain .profile {
  line-height: 24px;
}

#product .product-area .product-explain .prof-img {
  border-radius: 100%;
}

.sort {
  border: solid 1px #000;
  border-radius: 3px;
  background-color: #fff;
}
/*# sourceMappingURL=product.css.map */