@charset "UTF-8";
@import url("./destyle.css");
@import url("./style.css");
h1, h2 {
  display: none;
}

h3 {
  font-size: 14px;
  background: #ccc;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 3px;
}

main {
  height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form {
  background: #f7f8f9;
  margin: 0 auto;
  width: 85%;
  border-radius: 3px;
}

header input[type="text"] {
  border: none;
  padding: 0.5rem 1rem;
  width: 85%;
}

header .search_text :active {
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

header .grass {
  color: gray;
  border: 0;
}

header .grass :active {
  color: #fd819d;
}

/* 性別タブ */
.gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gender label {
  display: block;
  text-align: center;
  padding: 10px;
  width: 33%;
  font-size: 14px;
}

.gender input[type="radio"] {
  display: none;
}

.gender #all:checked ~ .all,
.gender #women:checked ~ .women,
.gender #men:checked ~ .men {
  color: #fe8900;
  border-bottom: solid 3px #fe8900;
}

/* カテゴリから探す＆ブランドから探す */
.search-conditions ul {
  font-size: 14px;
  padding: 10px;
}

.search-conditions ul li {
  padding: 5px 0 15px 0;
}

.search-conditions ul ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.search-conditions ul ul li {
  padding: 0;
}

.search-conditions ul .brand-border {
  border-top: solid 1px #ccc;
  padding: 15px 0 5px 0;
}

.keywords ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 10px 0 10px;
}

.keywords ul li {
  text-align: center;
  background: #f7f8f9;
  padding: 0.3rem 0.8rem;
  margin: 0 1em 1em 0;
  border-radius: 5px;
}

.search-values button {
  width: 70px;
  height: 70px;
  font-size: xx-large;
  background-color: #ffffff;
  border: 1px solid #fd819d;
  border-radius: 5px;
  color: #fd819d;
  text-align: center;
}

.search-values ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.search-values ul li {
  width: 70px;
}

.search-values .pink :active {
  width: 70px;
  height: 70px;
  font-size: xx-large;
  background-color: #ffc2d0;
  border: 1px solid #fd819d;
  border-radius: 5px;
}

.save-search ul {
  padding: 10px;
}

.save-search ul li {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 0.3rem;
  padding-left: 0.3rem;
  position: relative;
}

.save-search ul li button {
  position: absolute;
  right: 1rem;
  top: 0;
  height: 100%;
  width: 16px;
  line-height: 10px;
  opacity: 0.5;
}
/*# sourceMappingURL=search.css.map */