@import url("./destyle.css");
@import url("./style.css");
header {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header p {
  line-height: 60px;
}

header .header-logo {
  margin-top: 0;
}

h2 {
  display: none;
}

h3 {
  font-size: 14px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 3px;
}

section {
  margin: 0;
  padding: 10px;
}

.product-info {
  padding: 10px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.product-info ul {
  width: 70%;
  height: 70px;
  padding-left: 10px;
}

.product-info ul li {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-info div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.product-info div a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 55px;
  padding-left: 85%;
}

.msg-btn {
  border: solid 1px #333;
  width: 100%;
  padding: 5px 0;
  margin-top: 0.6rem;
}

.eval-btn {
  padding: 10px 0;
  background-color: #fe9900;
  color: #fff;
  width: 355px;
  height: 40px;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg_btn_eval {
  background-color: #fff;
  padding: 10px;
}

.product-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
}

.product-section .price {
  color: red;
}

.send-status {
  font-size: 16px;
  margin-top: 1rem;
}

.progress-bar-area {
  font-size: 8px;
  margin-top: 3em;
}

.progress-bar-area .progress-bar li {
  width: 20%;
  text-align: center;
}

.progress-bar-area .progress-bar li::before {
  background-color: #fd819d;
  border: solid 3px #fd819d;
  border-radius: 100%;
  content: "";
  padding: 8px;
  position: absolute;
  top: -1.5rem;
  margin-left: -0.5rem;
}

.progress-bar-area .progress-bar::before {
  background-color: #fd819d;
  content: "";
  padding: 3px 32%;
  position: absolute;
  top: -16px;
}

.progress-bar-area ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.progress-bar-area ul li {
  width: 20%;
  text-align: center;
}

.delivery-state {
  padding: 20px 0;
}

.state-text {
  padding-top: 10px;
  font-size: 14px;
}

.progress-bar-area {
  margin-bottom: 20px;
}

.profile-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.profile-section img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.profile-section .message-btn {
  background: #fff;
  border: solid 1px #707070;
  color: #707070;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  width: 355px;
  border-radius: 3px;
}

.contact {
  font-size: 14px;
  text-align: center;
}

.contact p {
  -webkit-text-decoration: underline #707070;
          text-decoration: underline #707070;
}

.contact p + p {
  padding-top: 10px;
  padding-bottom: 5px;
}
/*# sourceMappingURL=trading.css.map */