@import url("./destyle.css");
@import url("./style.css");
header {
  text-align: center;
}
main {
  margin-bottom: 60px;
}
.img-section {
  text-align: center;
  img {
    width: 360px;
  }
}
.product-section {
  .brand {
    font-size: 8px;
  }
  .price {
    font-size: 16px;
    color: #ff0000;
  }
  .product-detail {
    ul {
      display: flex;
      li {
        width: 50%;
      }
    }
  }
}
.profile-section {
  .prof-img {
    border-radius: 50%;
  }
  .prof-area {
    display: flex;
  }
  .prof-name {
    margin-left: 1rem;
  }
  .message-btn {
    border: solid 1px #333;
    width: 100%;
    padding: 5px 0;
    text-align: center;
  }
}

.option-input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cleaning {
  margin-left: 1rem;
}
.address-area {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.address-text {
  margin-left: 1rem;
}

footer {
  position: fixed;
  border: solid 1px #000;
  width: 375px;
  height: 60px;
  background-color: #fff;
  bottom: 0;
  .buy-btn {
    margin-top: 10px;
    height: 40px;
    // border: solid 1px #000;
    border-radius: 5px;
    background-color: #fe9900;
    color: #fff;
    width: 80%;
  }
}
