@import url("./destyle.css");
@import url("./style.css");

header {
  text-align: center;
  p {
    line-height: 60px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .header-logo {
    margin-top: 0;
  }
}
h2 {
  display: none;
}

main {
  border: none;

  /* 出品者側のとき */
  .disable{
    display: none;
  }

  h3{
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 3px;
    &:first-child{
      padding-top: 10px;
    }
  }
  
  /* 評価エリア */
  .evaluate{
    padding: 25px 10px;
    p{
      text-align: center;
      margin-bottom: 10px;
    }
    textarea{
      padding: 3px;
      background: #f7f8f9;
      border: solid 1px #707070;
      border-radius: 3px;
      display: block;
      margin: 0 auto;
      width: 270px;
      margin-bottom: 15px;
      resize: none;
    }
    h4{
      width: 80%;
      margin: 0 auto;
      margin-bottom: 3px;
    }
    input{
      padding: 3px;
      background: #f7f8f9;
      border: solid 1px #707070;
      border-radius: 3px;
      display: block;
      margin: 0 auto;
      width: 100%;
    }
    .tip{
      width: 270px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 25px;
    }
    .unit{
      position: absolute;
      top: 0;
      left: 92%;
      // width: 75%;
      font-size: 10px;
      padding: 4px 5px;
      border: solid 1px #707070;
      border-radius: 0 3px 3px 0;
      background: #dcdcdc;
    }
    button{
      font-size: 14px;
      background: #fe8900;
      color: #fff;
      padding: 8px;
      width: 270px;
      border-radius: 2px;
    }
    // 評価ボタン
    .stars{
      margin-bottom: 10px;
      span{
        display: flex; /* 要素をフレックスボックスにする */
        flex-direction: row-reverse; /* 星を逆順に並べる */
        justify-content: center;  
      }
      input[type="radio"]{
        display: none; /* デフォルトのラジオボタンを非表示にする */
      }
      label{
        color: #d2d2d2; /* 未選択の星をグレー色に指定 */
        font-size: 30px; /* 星の大きさを30pxに指定 */
        padding: 0 5px; /* 左右の余白を5pxに指定 */
        cursor: pointer; /* カーソルが上に乗ったときに指の形にする */  
      }
    }
    .stars label:hover,
    .stars label:hover ~ label,
    .stars input[type="radio"]:checked ~ label {
      color: #f8c601; /* 選択された星以降をすべて黄色にする */
    }
  }

  /* 取引商品 */
  .evaluate_product{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    position: relative;
    ul{
      width: 70%;
      height: 70px;
      padding-left: 10px;
      li{
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
    div{
      position: absolute;
      width: 100%;
      height: 100%;
      a{
        display: block;
        width: 100%;
        height: 100%;
        line-height: 55px;
        padding-left: 310px;
      }
    }
  }

  /* 取引ユーザー */
  .user_info {
    padding: 10px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    // margin-bottom: 100px;
    img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    p + p{
      width: 270px;
      font-size: 14px;
      padding-left: 15px;
    }
    button{
      background: #fff;
      border: solid 1px #707070;
      color: #707070;
      padding: 8px;
      text-align: center;
      font-size: 12px;
      width: 320px;
      border-radius: 3px;
    }
  }
}
main{
  padding-bottom: 15px;
}
