@import url("./destyle.css");
@import url("./style.css");

main {
  margin-bottom: 60px;
}
.product-detail {
  ul {
    display: flex;
    li {
      width: 50%;
    }
  }
}
.tag-area {
  ul {
    display: flex;
    li {
      border: solid 1px #000;
      border-radius: 16px;
      padding: 3px 6px;
      margin: 4px;
    }
  }
}
form {
  margin: 0 auto;
  width: 90%;
  li {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 1rem;
    button {
      width: 100%;
    }
  }
  .listing-btn {
    background-color: #fe8900;
    color: #fff;
  }
  .fix-btn {
    background-color: #fff;
    border: solid 1px #111;
  }
}
