@import url("./destyle.css");
@import url("./style.css");

header {
  text-align: center;
  line-height: 60px;
}
main {
  margin-bottom: 60px;
}
h2 {
  display: none;
}
h3 {
  background-color: #eee;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
}
input,
select,
textarea {
  line-height: 24px;
  font-size: 14px;
}
textarea {
  border: solid 1px #ccc;
}

#preview {
  width: 100%;
}

.detail-section,
.shipping-section,
.price-section {
  ::placeholder {
    opacity: 0.5;
  }
  ul {
    display: flex;
    // margin-bottom: 0.5rem;
    // padding-bottom: 0.3rem;
    // padding-top: 0.3rem;
    border-bottom: solid 1px #ccc;
    li {
      width: 50%;
      line-height: 24px;
      padding-left: 0.5rem;
    }
  }
  select {
    width: 100%;
  }
}

.explain-section {
  p {
    border: solid 1px #ccc;
    width: 360px;
    margin: 0.3rem auto 1rem;
    input {
      border: solid 1px #ccc;
      width: 100%;
      padding-left: 0.3rem;
    }
    textarea {
      resize: none;
      width: 360px;
      padding: 0.1rem;
    }
  }
}
.btn-area {
  width: 90%;
  margin: 0 auto;
  li {
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 0.3rem;
  }
  .listing-btn {
    background-color: #fe8900;
    color: #fff;
    button {
      width: 100%;
    }
  }
  .save-btn {
    border: solid 2px #111;
    background-color: #fff;
    button {
      width: 100%;
    }
  }
}
