@import url("./destyle.css");
@import url("./style.css");

main {
  margin-bottom: 60px;
}
h2 {
  display: none;
}
h3 {
  font-size: 14px;
  background-color: #eee;
  padding-top: 0.5rem;
  padding-bottom: 3px;
  padding-left: 10px;
}
input,
select,
textarea {
  line-height: 24px;
  font-size: 14px;
}

#preview {
  width: 100%;
}

.detail-section,
.shipping-section,
.price-section {
  ::placeholder {
    opacity: 0.5;
  }
  ul {
    display: flex;
    // margin-bottom: 0.5rem;
    // padding-bottom: 0.3rem;
    // padding-top: 0.3rem;
    border-bottom: solid 1px #ccc;
    padding: 0 10px;
    li {
      font-size: 14px;
      width: 50%;
      line-height: 24px;
      padding: 5px 0;
    }
  }
  select {
    width: 100%;
  }
}

.explain-section {
  p {
    // width: 360px;
    input {
      border-bottom: solid 1px #ccc;
      width: 355px;
      display: block;
      margin: 0 auto;
      padding: 7px 10px 7px 0;
    }
    textarea {
      padding: 7px 10px;
      resize: none;
      width: 360px;
    }
  }
}
.btn-area {
  width: 95%;
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  li {
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 0.8rem;
  }
  .listing-btn {
    background-color: #fe8900;
    color: #fff;
    button {
      width: 100%;
    }
  }
  .save-btn {
    border: solid 1px #ccc;
    background-color: #fff;
    button {
      width: 100%;
    }
  }
}
