/*
*最終更新日：2022/01/13
*作成者：小嶋美紀
*/

@import url("./destyle.css");
@import url("./style.css");
header {
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-bottom: solid 1px #bbb;
  position: relative;
}
main{
  padding: 10px 0 70px 0;
  border: none;
  h3{
    padding-left: 15px;
    margin: 15px 0 5px 0;
    color: #505050;
    &:first-child{
      margin-top: 5px;
    }
  }
  ul{
    li{
      border-bottom: solid 1px #dcdcdc;
      &:last-child{
          border: none;
      }
      a{
        display: block;
        padding: 10px 10px 10px 15px;
      }
    }
  }
  section{
    &:last-child{
      margin-top: 20px;
    }
  }
}