@import url("./destyle.css");
@import url("./style.css");

header {
  height: 60px;
}
.textarea-wrapper {
  textarea {
    border: solid 1px #000;
    background-color: #fff;
    width: 100%;
    height: 240px;
    resize: none;
    line-height: 24px;
    font-size: 16px;
    padding: 0.5rem;
  }
}
.preview-wrapper {
  border-radius: 5px;
  img {
    width: 100px;
  }
}
.btn-wrapper {
  display: flex;
  button,
  label {
    padding: 0.5rem;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin: 0.3rem;
  }
}
