@import url("./destyle.css");
@import url("./style.css");

header {
  text-align: center;
  line-height: 60px;
  position: relative;
  .back-icon {
    position: absolute;
    top: -1rem;
    left: 1rem;
  }
  .menu-icon {
    position: absolute;
    top: -1rem;
    right: 1rem;
  }
}

main {
  margin-bottom: 60px;
  h3{
    background: #ccc;
    // padding-left: 10px;
    font-size: 16px;
  }
  section{
    padding: 0 10px 10px 10px;
  }
}

.img-section {
  padding: 0;
  h3 {
    width: 100%;
    // padding: 10px;
    display: none;
  }
  text-align: center;
  margin: 0;
}

.product-detail {
  ul {
    display: flex;
    li {
      width: 50%;
    }
  }
}
.prof-section {
  img {
    border-radius: 100%;
    // margin: 0 0.3rem 0 0.5rem;
  }
  line-height: 32px;
  padding-bottom: 1rem;
}

footer {
  position: fixed;
  background-color: #fff;
  width: 375px;
  height: 60px;
  bottom: 0;
  border: solid 1px #ccc;
  z-index: 10;
  form {
    .buy_btn {
      height: 40px;
      margin-top: 10px;
      width: 80%;
      // border: solid 1px #000;
      background-color: #fe9900;
      color: #fff;
    }
  }
}
