@import url("./destyle.css");
@import url("./style.css");
header {
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: solid 1px #111;
}
main {
  margin-bottom: 60px;
}
.img-section {
  h3 {
    display: none;
  }
  text-align: center;
}

.product-detail {
  ul {
    display: flex;
    li {
      width: 50%;
      img {
        border-radius: 100%;
      }
    }
  }
}

footer {
  position: fixed;
  background-color: #fff;
  width: 375px;
  height: 60px;
  bottom: 0;
  border: solid 1px #000;
  z-index: 10;
  form {
    .buy_btn {
      height: 40px;
      margin-top: 10px;
      width: 80%;
      // border: solid 1px #000;
      background-color: #fe9900;
      color: #fff;
    }
  }
}
