@import url("./destyle.css");
// @import url("./style.css");

body {
  width: 375px;
  min-height: 667px;
  border: solid 1px #ccc;
  // margin: 0 auto;
  position: relative;
}
main {
  background-color: #ccc;
  font-size: 12px;
  color: #707070;
  border: solid 1px #ccc;
  margin-bottom: 60px;
}

h1,
h2,
h3,
h4 {
  display: none;
}

#trend {
  background-color: #fff;
  ul {
    display: flex;
    flex-wrap: wrap;
    .trend-tag {
      background-color: #fff;
      border: solid 1px #000;
      border-radius: 18px;
      padding: 3px 8px;
      margin: 3px;
      white-space: nowrap;
    }
  }
}

#product {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  .product-area {
    background-color: #fff;
    margin: 2px;
    .product-item {
      img {
        // width: 100%;
      }
    }
    .product-explain {
      .price,
      .profile {
        font-size: 16px;
        line-height: 16px;
      }
      margin: 4px;
      .prof-img {
        border-radius: 100%;
      }
    }
  }
}

.sort {
  border: solid 1px #000;
  border-radius: 3px;
  background-color: #fff;
}

.global-footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  font-size: 8px;
  width: 375px;
  height: 60px;
  border: solid 1px #ccc;

  nav {
    margin-top: 10px;
    ul {
      display: flex;
      text-align: center;
      li {
        width: 20%;
      }
    }
  }
}
