@import url("./destyle.css");
@import url("./style.css");

header {
  position: relative;
  button {
    border: solid 1px #ccc;
  }
  form {
    margin: 0.6rem auto;
    border: solid 1px #111;
    width: 80%;
    border-radius: 50px;
  }
  input[type="text"] {
    padding: 0.5rem 1rem;
    width: 85%;
  }
  .back-icon {
    position: absolute;
    top: 16px;
    left: 0.5rem;
  }
  .search_text :active {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: none;
    outline: none;
  }
  .grass {
    color: gray;
    border: 0;
  }
  .grass :active {
    color: #fd819d;
  }
}

// モーダル背景
.modal-bg {
  display: none;
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 106px;
}

.display-nav {
  height: 36px;
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 100%;
  color: #fe8900;
  .parent-tabs {
    display: flex;
    position: relative;
    justify-content: right;
    .tab1,
    .tab2 {
      width: 25%;
      text-align: center;
    }
    .tab1 + .tab2 {
      border-left: solid 2px #ccc;
    }
    // モーダルで表示
    .sort-tabs {
      display: none;
      text-align: left;
      padding-top: 0.4rem;
      position: absolute;
      z-index: 20;
      width: 100%;
      li {
        right: 0;
        line-height: 30px;
        padding-left: 1rem;
        background-color: #fff;
        border: solid 1px #ccc;
      }
    }
  }
}
main {
  background-color: #ccc;
  font-size: 12px;
  color: #707070;
  border: solid 1px #ccc;
  margin-bottom: 60px;
}
h2,
h3,
h4 {
  display: none;
}

#trend {
  background-color: #fff;
  ul {
    display: flex;
    flex-wrap: wrap;
    .trend-tag {
      background-color: #fff;
      border: solid 1px #000;
      border-radius: 18px;
      padding: 3px 8px;
      margin: 3px;
      white-space: nowrap;
    }
  }
}

#product {
  background-color: #ccc;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  .product-area {
    border-radius: 5px;
    // background-color: #fff;
    margin: 2px;

    .product-item {
      border-radius: 5px 5px 0 0;
      position: relative;
      border-bottom: solid 1px #ccc;
      width: 180px;
      height: 240px;
      object-fit: cover;
      background-color: #fff;
      .sold-icon {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
      }
      .favorite-btn {
        width: 24px;
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
      }
    }

    .product-explain {
      background-color: #fff;
      border-radius: 0 0 5px 5px;
      height: 32px;
      padding: 4px;
      display: flex;
      justify-content: space-between;

      .price,
      .profile {
        line-height: 24px;
      }

      .prof-img {
        border-radius: 100%;
      }
    }
  }
}

.sort {
  border: solid 1px #000;
  border-radius: 3px;
  background-color: #fff;
}
