@import url("./destyle.css");
@import url("./style.css");

.wrapper {
  border: 1px solid #000;
  display: inline-block;
  position: relative;
  background-color: transparent;
  button {
    background-color: transparent;
    border: 0;
  }
  input[type="text"] {
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .search_text :active {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: none;
    outline: none;
  }
  .grass {
    color: gray;
  }
  .grass :active {
    color: #fd819d;
  }
}

.keyword {
  font-size: small;
}
.keywords {
  button {
    width: 120px;
    height: 30px;
    background: #ffffff;
    border-radius: 30px;
  }
}

.search_values {
  button {
    width: 70px;
    height: 70px;
    font-size: xx-large;
    background-color: #ffffff;
    border: 1px solid #fd819d;
    border-radius: 5px;
    color: #fd819d;
  }
  th {
    width: 70px;
  }
  .pink :active {
    width: 70px;
    height: 70px;
    font-size: xx-large;
    background-color: #ffc2d0;
    border: 1px solid #fd819d;
    border-radius: 5px;
  }
}

.save_search {
  .search01 button {
    width: 250px;
    height: 30px;
    text-align: left;
    font-size: 10px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 2px;
  }
  .search02 button {
    width: 250px;
    height: 30px;
    text-align: left;
    font-size: 10px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 2px;
  }
  .search03 button {
    width: 250px;
    height: 30px;
    text-align: left;
    font-size: 10px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 2px;
  }
}
