@import url("./destyle.css");
@import url("./style.css");

h1,h2{
  display: none;
}
h3{
  font-size: 14px;
  background: #ccc;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 3px;
}
body{
  background: #ccc;
}

header {
  // padding-top: 0.6rem;
  display: flex;
  align-items: center;
  form {
    background: #f7f8f9;
    margin: 0 auto;
    width: 85%;
    border-radius: 3px;
  }
  input[type="text"] {
    border: none;
    padding: 0.5rem 1rem;
    width: 85%;
  }
  .search_text :active {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: none;
    outline: none;
  }

  .grass {
    color: gray;
    border: 0;
  }
  .grass :active {
    color: #fd819d;
  }
}


/* 性別タブ */
.gender{
  display: flex;
  margin-bottom: 15px;
  label{
    display: block;
    text-align: center;
    padding: 10px;
    width: 33%;
    font-size: 14px;
  }
  justify-content: space-between;
  input[type="radio"]{
    display: none;
  }
  #all:checked ~ .all,
  #women:checked ~ .women,
  #men:checked ~ .men{
    color: #fe8900;
    border-bottom: solid 3px #fe8900;
  }
}

/* カテゴリから探す＆ブランドから探す */
.search-conditions{
  ul{
    font-size: 14px;
    padding: 10px;
    li{
      padding: 5px 0 15px 0;
    }
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      li{
        padding: 0;
      }
    }
    .brand-border{
      border-top: solid 1px #ccc;
      padding: 15px 0 5px 0;
    }
  }
}

.keywords {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 0 10px;
    li {
      text-align: center;
      background: #f7f8f9;
      padding: 0.3rem 0.8rem;
      margin: 0 1em 1em 0;
      border-radius: 5px;
    }
  }
}

.search-values {
  button {
    width: 70px;
    height: 70px;
    font-size: xx-large;
    background-color: #ffffff;
    border: 1px solid #fd819d;
    border-radius: 5px;
    color: #fd819d;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    li {
      width: 70px;
    }
  }
  .pink :active {
    width: 70px;
    height: 70px;
    font-size: xx-large;
    background-color: #ffc2d0;
    border: 1px solid #fd819d;
    border-radius: 5px;
  }
}

.save-search {
  ul {
    padding: 3px 10px;
    a{
      display: block;
      border-bottom: solid 1px #ccc;
      &:last-child{
        border: none;
      }
    }
    li {
      font-size: 14px;
      padding: 0.8rem 0.5rem;
      position: relative;
      button {
        position: absolute;
        right: 1rem;
        top: 0;
        height: 100%;
        width: 16px;
        line-height: 10px;
        opacity: 0.5;
      }
    }
  }
}
