body {
  width: 375px;
  min-height: 667px;
  border: solid 1px #ccc;
}
main {
  font-size: 12px;
  color: #707070;
  border: solid 1px #ccc;
  background-color: #ccc;
}

section {
  background-color: #fff;
  padding: 0 10%;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
}

.center {
  text-align: center;
}

.btn {
  margin: 0 auto;
  text-align: center;
  display: block;
  border-radius: 5px;
}
