@import url("./destyle.css");
@import url("./style.css");

header {
  .login {
    position: absolute;
    top: 0;
    right: 0.5rem;
    line-height: 60px;
  }
}

main {
  background-color: #fff;
  margin-bottom: 60px;

  .post-img {
    text-align: center;
    img {
      margin-top: 1rem;
      border: solid 1px #ccc;
      border-radius: 5px;
      width: 332px;
      height: 332px;
      object-fit: cover;
    }
  }
  .post-sentence {
    line-height: 16px;
    margin-bottom: 0.2rem;
  }
  .listing-url {
    text-decoration: underline;
    color: #ff8198;
    line-height: 16px;
  }
  .action-btns {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    svg {
      margin-right: 0.1rem;
    }
    img {
      margin-left: 0.8rem;
      margin-right: 0.2rem;
    }
  }
  section {
    position: relative;
    padding-right: 24px;
    padding-left: 24px;
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-bottom: solid 1px #ccc;
    .prof-img {
      border-radius: 100%;
    }
    .post-div {
      line-height: 32px;
      margin-top: 16px;
      margin-bottom: 12px;
    }
    .menu {
      position: absolute;
      top: 1rem;
      right: 32px;
    }
  }
  .post-btn {
    background-color: #ff8198;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 34px;
    position: absolute;
    top: 80%;
    right: 1rem;
    img {
      margin-top: 0.5rem;
    }
  }
  .change-btn {
    background-color: #fff;
    border: solid 3px #ff8198;
    border-left: solid 2px #ccc;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 80%;
    left: 0;
    width: 56px;
    height: 40px;
    text-align: center;
    svg {
      margin-top: 0.5rem;
    }
  }
}
