@import url("./destyle.css");
@import url("./style.css");

header {
  // line-height: 60px;
  position: relative;
  img {
    margin-top: 10px;
  }
  .login {
    position: absolute;
    top: 20px;
    right: 0.5rem;
  }
}
main {
  h2,
  h4 {
    display: none;
  }
  h3 {
    font-size: 16px;
  }

  #category {
    .category-items {
      display: flex;
      justify-content: space-evenly;
      img {
        border: solid 1px #ccc;
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }

  #product {
    h3 {
      width: 100%;
    }
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 370px;

    .product-area {
      border-radius: 5px;
      margin: 1px;

      .product-item {
        border: solid 1px #ccc;
        border-bottom: 0;
        border-radius: 5px 5px 0 0;
        position: relative;
        background-color: #fff;
        .product-img {
          border-radius: 5px 5px 0 0;
          // object-fit: scale-down;
          object-fit: cover;
        }
        .favorite-btn {
          width: 24px;
          position: absolute;
          bottom: 0.5rem;
          right: 0.5rem;
        }
      }

      .product-explain {
        background-color: #fff;
        border: solid 1px #ccc;
        // border-top: 0;
        border-radius: 0 0 5px 5px;
        height: 32px;
        padding: 4px;
        display: flex;
        justify-content: space-between;

        .price,
        .profile {
          line-height: 24px;
        }

        .prof-img {
          border-radius: 100%;
        }
      }
    }
  }
  margin-bottom: 60px;
  .change-btn {
    background-color: #fff;
    border: solid 3px #fe8900;
    border-left: solid 2px #ccc;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 80%;
    left: 0;
    width: 56px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    p {
      padding-top: 0.4rem;
      font-size: 18px;
      color: #fe8900;
    }
    svg {
      margin-top: 0.4rem;
    }
  }
}
