@import url("./destyle.css");
@import url("./style.css");
.msg-btn {
  border: solid 1px #333;
  width: 100%;
  padding: 5px 0;
}
.eval-btn {
  padding: 10px 0;
  background-color: #fe9900;
  color: #fff;
  width: 90%;
}
.bg_btn_eval {
  background-color: #fff;
  padding: 10px;
}

.progress-bar-area {
  margin-top: 3em;
  .progress-bar {
    li {
      width: 20%;
      text-align: center;
    }
    li::before {
      background-color: #fff;
      border: solid 3px #fd819d;
      border-radius: 100%;
      content: "";
      padding: 8px;
      position: absolute;
      top: -1.5rem;
      margin-left: -0.5rem;
    }
  }
  .progress-bar::before {
    background-color: #fd819d;
    content: "";
    padding: 3px 32%;
    position: absolute;
    top: -16px;
  }
  .send-status {
    font-size: 8px;
  }
  ul {
    display: flex;
    position: relative;
    justify-content: center;
    li {
      width: 20%;
      text-align: center;
    }
  }
}
